@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* System Colors */

  /* Background colors */
  --main-bg: rgba(255, 255, 255, 1);
  --primary-color: rgba(254, 110, 99, 1);
  --secondary-color: rgba(135, 137, 138, 1);
  --neutral-color: rgb(13, 13, 13);
}

@media (prefers-color-scheme: dark) {
  :root {
  --main-bg: rgb(13, 13, 13);
  --primary-color: rgba(254, 110, 99, 1);
  --secondary-color: rgba(135, 137, 138, 1);
  --neutral-color: rgba(255, 255, 255, 1)
  }
}



